*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    width: 220px;
}

a{
    text-decoration: none;
    color: black;
    font-weight: 700;
}

@media screen (max-width:768px) {
    img{
        display: none;
    }
}